/* ----- RESET ----- */

*{outline: 0;padding: 0;margin: 0;border: 0;}
body,p,ul,ol,dl,textarea,input {font-family: 'ubuntu'}

/* ---- BASE ---- */

body{
	overflow:hidden;
	width:100%;
}

ul, ol {
	list-style: none;
}

.wrapper {
	width: 980px;
	margin: 0 auto;
}

.page {
	width: 100%;
}

.clear{clear:both;}



/* ----- HEADER ----- */
#header {
	position: relative;
	top:0px;
	z-index: 100;
}

.social {
	font-size: 12px;
	width:500px; 
	margin-top:50px;
}
.social li { 
	display:inline; 
	float:left; 
}

.social li a { 
	opacity: 0; /* invisible text */
	display:block; 
	width:33px; 
	height:33px; 
	text-decoration:none; 
}

.social li.facebook { background-image:url("../images/facebook.png");
	background-repeat: no-repeat;}
.social li.googlePlus { background-image:url("../images/googlePlus.png");
	background-repeat: no-repeat; }
.social li.twitter { background-image:url("../images/twitter.png");
	background-repeat: no-repeat; }
.social li.linkedin { background-image:url("../images/linkedIn.png");
	background-repeat: no-repeat; }
.social li.behance { background-image:url("../images/behance.png");
	background-repeat: no-repeat; }

#company-logo {
	margin-top: -40px;
	float: right;
	background-image: url("../images/logo.png");
	background-repeat: no-repeat;
	height:114;
	width:130;
}


#navigation {
	float: right;
	margin-top: 30px;
}

#navigation li {
	list-style: none;
	display: inline;
}

#navigation li a {
	color: white;
	text-decoration: none;
	font-size: 20px;
	text-transform: uppercase;
	letter-spacing: 1px;	
}

#navigation li a:hover {
	color: black;
}

#navigation img {
	padding-left:10px;
	padding-right: 10px;
	height:14px;
}


/* ----- FOOTER ----- */
#footer {
	position: fixed;
	bottom: 0px;
	background-color: white;
	height: 60px;
	width: 100%;
	z-index: 100;
	
	

}

#footer li {
	padding-left: 50px;
	display: inline;
	text-transform: uppercase;
	font-size:12px;
	float: right;
	margin-top: 20px;
}

.page {
	width: 100%;
	height: 100%;
}

/* ----- CONTENT ----- */

#content {

	width:100%;
	height:100%;
}


#content .page-image {

	position: absolute;
	vertical-align: ;
	z-index: 100;
	bottom:33px;

}

#home {
background-color: #2980b9;
}

#services {
background-color: #0ea89a;
}

#vision {
background-color: #c60751;
}

#career {
background-color: #8e44ad;
}

#team {
background-color: #2ecc71;
}

#contact {
background-color: #d35400;
}

#content-wrapper {
	position: relative;
	height: 100%;
}

#content-text {
	position: absolute;
	text-align: right;
	width: 500px;
	bottom: 0%;
	right:148px;
}

.inline-img {
	margin-left: 10px;
}

/* -----PAGE CONTENT TEXT STYLING ---- */

#home .mainText {
	color: black;
	font-size: 32px;
	font-style: italic;
	font-weight: 300;
}

#home .subText {
	color: white;
	font-size: 32px;
	font-style: italic;
	font-weight: 300;
}

#services .mainText {
	color: black;
	font-size: 24px;
	font-weight: 300;
}

#services .subText {
	color: white;
	font-size: 20px;
	font-style: italic;
	font-weight: 300;
}

#vision .mainText {
	color: black;
	font-size: 24px;
	font-weight: 300;
}

#vision .subText {
	color: white;
	font-size: 20px;
	font-style: italic;
	font-weight: 300;
}

#career .mainText {
	color: black;
	font-size: 24px;
	font-weight: 300;
}

#career .subText {
	color: white;
	font-size: 20px;
	font-style: italic;
	font-weight: 300;
}

#career .extraText {
	color: black;
	font-size: 20px;
	font-style: italic;
	font-weight: 200;
}

#team .mainText {
	color: black;
	font-size: 24px;
	font-weight: 300;
}

#team .subText {
	color: white;
	font-size: 20px;
	font-style: italic;
	font-weight: 300;
}

#contact .mainText {
	color: black;
	font-size: 24px;
	font-weight: 300;
}

#contact .subText {
	color: white;
	font-size: 20px;
	font-style: italic;
	font-weight: 300;
}


/* --END-- */

/* ----- BOTTOM MARGIN OF PAGE CONTENTS ----- */

#home .bottomMargin {
	bottom: 30%;
}

#services .bottomMargin {
	bottom: 25%;
}

#vision .bottomMargin {
	bottom: 25%;
}

#career .bottomMargin {
	bottom: 25%;
}

#team .bottomMargin {
	bottom: 40%;
}

#contact .bottomMargin {
	bottom: 20%;
}


/* --END-- */

/* ----- ROTATE CLASS ----- */

.rotate {
	-webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;
     
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;
     
    overflow:hidden;
    margin-right: 10px;
}

.rotate:hover {

	-webkit-transform:rotate(360deg);
    -moz-transform:rotate(360deg);
    -o-transform:rotate(360deg);
}

#bubble-navigation {	
	position: relative;
	text-align: right;
	z-index: 1000;
	background-color:;
	width: 18px;
	height: 160px;
	float: right;
	margin-top: 130px;
}

#bubble-navigation a {
	opacity: 0; /* invisible text */
	display:block; 
	width:33px; 
	height:33px; 
	text-decoration:none; 
}

#bubble-navigation .home-bubble { 
	background-image:url("../images/bubble-active.png");
	background-repeat: no-repeat; 
}

#bubble-navigation .services-bubble { 
	background-image:url("../images/bubble-inactive.png");
	background-repeat: no-repeat; 
}

#bubble-navigation .vision-bubble { 
	background-image:url("../images/bubble-inactive.png");
	background-repeat: no-repeat; 
}

#bubble-navigation .career-bubble { 
	background-image:url("../images/bubble-inactive.png");
	background-repeat: no-repeat; 
}

#bubble-navigation .team-bubble { 
	background-image:url("../images/bubble-inactive.png");
	background-repeat: no-repeat; 
}

#bubble-navigation .contact-bubble { 
	background-image:url("../images/bubble-inactive.png");
	background-repeat: no-repeat; 
}

#career-img {
	left: -45px;
}

#vision-img {
	left: -55px;
}